NEXTAUTH_SECRET= 
# NEXT_PUBLIC_API_URL=postgres://strapi:strapi@localhost:5432/strapi?synchronize=true
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GRAPHQL_URL=http://127.0.0.1:1337/graphql
NEXT_PUBLIC_DATABASE_URL=postgres://strapi:strapi@localhost:5432/strapi?synchronize=true
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 